* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s ease;

    
}

body{
    width: 100%;
    Overflow-x : hidden ;

}

::-webkit-scrollbar {
    width:fit-content ;
    width: 15px;
}
::-webkit-scrollbar-thumb{
    height: 140px;
    background-color: #1b1b1b5d;  
}
::-webkit-scrollbar-track{
    background-color: #ffffff;  
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1b1b1b86;  
}



/* loding for the sit  */

.min-lod {
    top: 0px;
    display: flex ;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;  
    width: 100%;
    min-height: 100vh;
    z-index: 9999;

}

.containerrr{
    
    margin: auto;
    -webkit-box-reflect : below 1px linear-gradient(transparent, #0001) ;
}

.loader {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #9ef006;
    border-right: 20px solid #9ef006;
    transform: rotate(45deg);
    animation: lod 4s ease-in-out infinite;
}

@keyframes lod {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

 .ball {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    animation: ball 4s ease-in-out infinite;
}

@keyframes ball {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ball::before {
    content: " ";
    position: absolute;
    bottom: 50%;
    right: 15px ;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}



/* ===================== start nav=====================  */
/* icon dark sit  */
.icon-dark {
    font-size: 23px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo i {
    display: flex;
    margin: 0 13px;
}

.logo a{
    display: flex;
    text-decoration: none;
}
.logo img{
    width: 35px;
}
.logo h1{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    margin-left: 6px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    color: #181945;
}

/* ====================nav==================== */

nav {
    top: 0px;
    display: flex;
    padding: 1px 0px;
    width: 100%;
    position: fixed;
    border-radius: 0px 0px 45px 45px;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgb(255 255 255);
}


.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 15px 29px 15px 29px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {

    color: #040404;
    margin: 20px;
    text-decoration: none;
    font-weight: 800;
    transition: all 1s ease;
    font-size: 13px;
}

.nav > .nav-links > a:hover {
    background-color: #583FBC ;
    color: white;
    border-radius: 18px;
    transition: all .4s ease;
    padding: 7px 22px;
}

  /* nav btn */

.nav-btn_left_first {
    margin: 0px 36px;
    width: 196px;
    height: 48px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(to right , #291770 , #291770 ) no-repeat;
    background-size: 0%;
}

.nav-btn_left_first:hover {
    
    background-size: 100%; 
    transition: all .4s ease;
}
.nav-btn_left_first a {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
.nav-btn_left_first a:hover{
    color: rgb(255, 255, 255);
}

.nav-btn_small_screen {
    display: none;
}


.nav > #nav-check {
    display: none;
}

@media (max-width:1045px) {
    .nav > .nav-btn {
    display: inline-block;
    background-color: #583fbcca;
    border-radius: 4px 21px 4px 21px;
    margin: 0px 36px;
   
    }
    .nav > .nav-btn:hover{

    background-color: #000000ca;
    transition: all .4s ease;


    }
    

    .nav-btn_left_first {
        display: none;
    }

    .nav-btn_small_screen {
        display: block;
        width: 196px;
        height: 48px;
        border-radius: 16px;
        border: none;
        background: linear-gradient(to right , #291770 , #291770 ) no-repeat;
        background-size: 0%;
    }

    .nav-btn_small_screen:hover {
    
        background-size: 100%; 
        transition: all .4s ease;
    }

    .nav-btn_small_screen a {
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
    }
    .nav-btn_small_screen a:hover{
        color: rgb(255, 255, 255);
    }
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 43px;
    padding: 13px;
}
    .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    }

    
    
    .nav > .nav-links {
        position: absolute;
        display: grid;
        width: 100%;
        background-color: #262626ba;
        backdrop-filter: blur(5px);
        transition: all 0.3s ease-in;
        top: 60px;
        z-index: 9999;
        overflow-y: hidden;
        left: 0px;
        justify-content: center;
        align-items: center;
    }
    .nav > .nav-links > a {
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-weight: 800;
        transition: all 1s ease;
    }
    
    .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    }
    .nav-btn span{
        color: black;
    }




}
/* -- ======---------- End nav ----========-----*/



section{
    margin-top: 200px;
}

.left-said {
    padding: 0px 100px;
}

.infooo {
    padding: 0px 5px;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    line-height: 1;
}


.left-said h1 {
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
/* identical to box height */

display: flex;
align-items: flex-end;
letter-spacing: -0.04em;

color: #181945;

}


.left-said p {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* or 156% */
margin: 51px 0px;

display: flex;
align-items: flex-end;
letter-spacing: -0.02em;

color: #181945;

opacity: 0.6;
}


/* btn */

.Dental_btn {
    width: 240px;
    border: none;
    height: 64px;
    background-color: #583FBC ;
    border-radius: 16px;
    background: linear-gradient(to right ,  #291770 , #291770 ) no-repeat;
    background-size: 0%;
}
.Dental_btn a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.98px;
    color: #FFFFFF;
}
.Dental_btn a:hover {
    color: white;
}

.Dental_btn:hover {
    
    background-size: 100%; 
    transition: all .5s ease;
}






.right-said-img {
    height: 443px;
    top: -8px;
    position: relative;
    border-radius: 48px;
}

.right-said-img .img-1 {
    position: absolute;
    top: -38px;
    left: 45px;

    animation-name:  img-1 ;
    animation-duration: 4s;
    animation-iteration-count: 100000;

}

@keyframes img-1  {
0% {
    transform: translate(0px,0px);

}
50% {
    transform: translate(0px,-28px);
}
100% {
    transform: translate(0px,0px);

}
}



.right-said-img .img-medeel {
    position: absolute;
    z-index: -333;
    left: 246px;
    top: 265px;
}




.right-said-img .img-2 {
    position: relative;
    left: 386px;
    bottom: -94px;

    
    animation-name:  img-2 ;
    animation-duration: 4s;
    animation-iteration-count: 100000;
}

@keyframes img-2  {
    0% {
        transform: translate(0px,0px);
    
    }
    50% {
        transform: translate(0px,28px);
    }
    100% {
        transform: translate(0px,0px);
    
    }
    }



/*======================== Dental 1 24H Emergency======================== */
/* =================================================Dental 1 ================================================= */

.Dental{
    margin-top: 135px;

}
.Dental_img {
    position: relative;

}
.Dental_img .style_img {
    position: relative;
    z-index: -333;
    left: -16px;
    top: -97px;
    background: #DBEFFA;
    border-radius: 32px;
    width: 400px;
    height: 306px;
}
.Dental_img .style_img img {
    position: absolute;
    left: 20%;
    top: 27%;
    border-radius: 32px;
}


.Dental_text h3{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
}

.Dental_text h1{
    margin: 22px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #181945;

}
.Dental_text p{
    margin: 27px 0px 77px 0px; 
   font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
   
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
}


/* btn */

.Dental_btn-22 {
    width: 240px;
    border: none;
    height: 64px;
    background-color: #583FBC ;
    border-radius: 16px;
    margin: auto;
    background: linear-gradient(to right ,  #291770 , #291770 ) no-repeat;
    background-size: 0%;
}
.Dental_btn-22 a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.Dental_btn-22 a:hover {
    color: white;
}

.Dental_btn-22:hover {
    
    background-size: 100%; 
    transition: all .5s ease;
}



/* ======================experience====================== */
/* ------------Specialized care through experience------------ */
.experience {
    margin: auto;
    padding: 66px 0px 0px;
    margin-top: 135px;
    width: 95%;
    background: #DBDEFA;
    border-radius: 48px;
}

.experience_text{
    padding: 0px 145px;

}
.experience_text h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #583FBC;
    
}

.experience_text p {
    font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 85px;
text-align: center;
letter-spacing: -0.04em;

color: #181945;

}


.experience_text h1 {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* or 156% */

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: -0.02em;

color: #181945;

opacity: 0.6;
}

.experience img {
    top: 120px;
    margin: auto;
    display: grid;
    position: relative;
}





































































/* -- ======---------- Start Footer ----========-----*/

.footer {
    background: #041434;  
}
.footer p{
    opacity: 1px;
    color: #ffffff; 

}

.logoo {
    display: grid;
    align-items: center;
    justify-content: center;
}

.logoo a {
    display: contents;
}

.logoo p {
    color: #ffffff; 
    margin-top: 58px;
    opacity: 0.6;
}

.logoo i {
    color: white;
    line-height: 28px;
    margin: 21px;
    font-size: 18px;
}


.footer #tw:hover {
    color: rgb(92, 164, 223);
}


.footer #insta:hover {
    color: rgba(219, 2, 252, 0.89)
}
.footer #face:hover {
    color: blue;
}

/* ============ 2 =============*/
.list{
    display: grid;
    align-items: center;
    justify-content: center;  

}
.list ul{
    padding-left: 0;
}
.footer li {
    color: #ffffff;
    opacity: 1;
    line-height: 40px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
}
.footer a {
    text-decoration: none;
}


/* ============ 3 =============*/
.con{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 65px;
}

.footer h6 {
    color: #ffffff;
    opacity: 0.8;
}
.contact1 {
    display: flex;
}

.contact2 {
    display: flex;
}


.contact3 {
    display: flex;
}
.info {
    padding: 0px 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1;
}

.end-info{
    opacity: 0.6;
    margin: auto;
    
}

.end-info-2 {
    display: contents;
}  

/* -- ======---------- End Footer ----========-----*/
